.card table {
    width: 100%;
}

.card table td:last-child {
    text-align: right;
}

input[type="time"] {
    padding: 0px;
    font-size: 15px;
    font-family: Roboto-Regular, Helvetica Neue, Helvetica, Arial, sans-serif;
    /* text-align: center; */
    border: none;
    letter-spacing: 5px;
    /* border: 1px solid; */
    margin-left: 20px;
}

input[type="time"]:focus {
    outline: 0
}

div.border-bottom {
    width: 23px;
    border: 0.5px solid #999;
    height: 0;
    position: relative;
    top: 0px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}

div.left {
    left: 27px;
}

div.right {
    left: 65px;
    top: -1px;
}

.select-room {
    height: 50px;
    width: 49px;
    display: inline-block;
    border: 1px solid #d2c2c2;
    text-align: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
    padding: 10px 12px 21px 12px;
    border-radius: 4px;
    margin: 5px;
    cursor: pointer;
}

.select-room div {
    font-size: 11.5px;
    margin-top: 2px;
    overflow: hidden;
}

.select-room img {
    height: 32px;
}

.select-room.active {
    background: #49c70f;
    color: #ffffff;
}

.image-block {
    border: 1px solid #fff;
    /* padding: 0px; */
    background: #fff;
    /* margin: 0; */
    width: 26px;
    text-align: center;
    display: inline-block;
}

.tab-default-value {
    margin: 25px 0px 25px 0px;
}

.success-roomnumber {
    color: #0fc900;
    font-size: 32px;
    font-weight: bold;
}

.error-room-number {
    color: #e00707;
    font-weight: bold;
}

.timebox {
    border: 1px solid #e2e2e2;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    width: 28%;
    font-size: 12px;
    border-radius: 4px;
}