<!-- <div class="container" *ngIf="pageNotFound">
    <div class="card center">
        <i class="fas fa-exclamation-triangle" style="color: #ff0000;font-size: 36px;"></i>
        <p>404 - Page not found</p>
    </div>
</div> -->
<div class="container" style="height:auto">
    <div class="header">
        <div class="box1 center">
            <img *ngIf="hotelData.Logo" [src]="hotelData.Logo">
            <i *ngIf="!hotelData.Logo" class="fas fa-hotel" style="font-size: 50px; color: #d9d9d9;"></i>
        </div>
        <div class="divider"></div>
        <div class="box2">{{hotelData.FullName}}</div>
    </div>

    <div class="card" *ngIf="isProcessing">
        <i class="fas fa-spinner fa-spin" style="font-size: 32px;text-align: center;display: block;"></i>
    </div>

    <div class="card" *ngIf="isCreateVisible">
        <table>
            <tr>
                <td>Room Type :
                    <!-- <strong>{{roomData.RoomTypeName}}</strong> -->
                    <strong *ngFor="let m of tabs; let i=index">{{m.tabName}}{{i==tabs.length-1 ? '':', '}}</strong>
                </td>
                <td>Room Count :
                    <strong>{{totalRoom}}</strong>
                </td>
            </tr>
        </table>
    </div>

    <div class="card" *ngIf="isCreateVisible">
        <div class="card-rate center" style="padding:0"> Special Instruction </div>
        <div class="feedback top20">
            <textarea rows="1" [(ngModel)]="feedback" placeholder="Enter Special Instruction"></textarea>
        </div>
        <div class="font11">
            <i class="fa fa-exclamation-circle"></i> Special requests cannot be guaranteed – but the property will try to meet your needs.
        </div>

    </div>
    <div *ngIf="!isSingle">
        <div class="card" *ngIf="isCreateVisible">
            <div class="tab-container" *ngIf="tabs.length">
                <a *ngFor="let m of tabs; let i=index" [class.active]="m.IsActive" (click)="viewTabDetail(m.tabKey,i)">{{m.tabName}}</a>
            </div>
            <div class="card-rate center" *ngIf="arrivalTimingList.length"> Expected Time of Arrival </div>

            <div class="timebox center" *ngFor="let m of arrivalTimingList let i=index">
                <span>Room {{i+1}}</span>
                <input type="time" [(ngModel)]="m.ArrivalTime">
                <div class="border-bottom left"></div>
                <div class="border-bottom right"></div>
            </div>
            <div class="card-rate center"> Select Room of Your Choice</div>
            <app-custom-select-dropdown (selectedListParent)="updateParent($event,'feature')" [chipList]="featureList" [selectedList]="selectedFeatureList" placeholder="Features"></app-custom-select-dropdown>
            <div>&nbsp;</div>
            <app-custom-select-dropdown (selectedListParent)="updateParent($event,'floor')" [chipList]="floorList" [selectedList]="selectedFloorList" placeholder="Floor"></app-custom-select-dropdown>

            <div class="font11 top10 center">
                <i class="fa fa-exclamation-circle"></i> Select {{totalRoom}} Room(s)
            </div>

            <div *ngFor="let m of roomList; let i=index" class="select-room {{m.RoomType==currentTab?'show':'hide'}}" [class.active]="m.IsAllocated" (click)="changeAllocatedRoom(i)">
                <div class="image-block">
                    <img src="./assets/images/icons/Vacant.svg">
                </div>
                <div>{{m.RoomName}}</div>
            </div>

        </div>
    </div>
    <div *ngIf="isSingle">
        <div class="card" *ngIf="isCreateVisible">


            <div class="card-rate center" *ngIf="roomTypeList.length"> Expected Time of Arrival </div>

            <div class="timebox center" *ngFor="let m of roomTypeList">
                <span>Room1</span>
                <input type="time" [(ngModel)]="m.ArrivalTime">
                <div class="border-bottom left"></div>
                <div class="border-bottom right"></div>
            </div>

            <!-- <div class="timebox center">
                <span>Room2</span>
                <input id="appt-time" type="time" name="appt-time" value="03:30">
                <div class="border-bottom left"></div>
                <div class="border-bottom right"></div>
            </div> -->
            <!-- <div class="timebox center">
                <span>Room3</span>
                <input id="appt-time" type="time" name="appt-time" value="13:30">
                <div class="border-bottom left"></div>
                <div class="border-bottom right"></div>
            </div>
            <div class="timebox center">
                <span>Room4</span>
                <input id="appt-time" type="time" name="appt-time" value="13:30">
                <div class="border-bottom left"></div>
                <div class="border-bottom right"></div>
            </div> -->

            <div class="card-rate center"> Select Room of Your Choice</div>
            <div class="tab-default-value">
                <app-custom-select-dropdown (selectedListParent)="updateParent($event,'feature')" [chipList]="featureList" [selectedList]="selectedFeatureList" placeholder="Features"></app-custom-select-dropdown>
                <div>&nbsp;</div>
                <app-custom-select-dropdown (selectedListParent)="updateParent($event,'floor')" [chipList]="floorList" [selectedList]="selectedFloorList" placeholder="Floor"></app-custom-select-dropdown>
            </div>
            <div class="select-room" *ngFor="let m of roomList; let i=index" [class.active]="m.IsAllocated" (click)="changeAllocatedRoom(i)">
                <div class="image-block">
                    <img src="./assets/images/icons/Vacant.svg">
                </div>
                <div>{{m.RoomName}}</div>
            </div>

        </div>
    </div>

    <div class="button1 top20" *ngIf="isCreateVisible">
        <button (click)="saveRoom()">Submit</button>
    </div>

    <div class="card center" *ngIf="!isCreateVisible && !isProcessing">
        <div *ngIf="saveSuccess">
            <div>&nbsp;</div>
            <img src="./assets/images/success.png">
            <div class="success-msg" style="margin-top: 10px; font-size: 13px;">{{responseMessage}}</div>
            <div class="success-roomnumber">401, 402</div>
            <div class="font11 top20 left">
                <i class="fa fa-exclamation-circle"></i> Please note - It is only a room request, the hotel might give you the same room or allocate a different room during the time of checkin at the hotel.

            </div>
        </div>
        <div *ngIf="!saveSuccess">
            <div>&nbsp;</div>
            <i class="fas fa-exclamation-triangle" style="color: #ff0000;font-size: 36px;"></i>
            <div class="error-msg" style="margin-top: 10px; font-size: 13px;">
                <br /> Oops!!! Room Number
                <span class="error-room-number">101, 102</span> has already booked.
                <br />
                <br />
                <a href="#">Click here to try again</a>
            </div>

        </div>


    </div>

</div>


<!-- <app-popupbox *ngIf="popupVisibility" (back)="backtoNextPage()" [message]="responseMessage"></app-popupbox> -->