.chips.chips-initial {
    border-bottom: 1px solid #ddd;
}

.chip {
    line-height: 30px;
    padding: 0px 13px;
    border-radius: 16px;
    background-color: #2e2e2e;
    margin: 5px 5px;
    display: inline-block;
    outline: none;
    color: #ffffff;
}

.chip:focus {
    background-color: #51c5c2;
    color: #fff;
}

.closebtn {
    cursor: pointer;
    position: relative;
    left: 7px;
    font-size: 15px;
}

.chips.chips-initial input.chip-input {
    display: inline-block;
    float: none;
    width: 120px;
    min-width: 30px;
    border: none;
    outline: none;
}

ul {
    list-style: none;
    padding-left: 5px;
    max-height: 170px;
    overflow: auto;
    position: absolute;
    width: 620px;
    z-index: 5;
    background: #fff;
    border: 1px solid #f3f3f3;
    border-top: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
    margin-top: 5px;
}

li {
    padding: 5px 0px 10px 3px;
    margin: 5px;
    line-height: 20px;
    cursor: pointer;
    margin-left: 0px;
    background: #f3f3f3;
}

li.active,
li:hover {
    background: #cac5c5;
}

@media only screen and (max-width: 1300px) {
    ul {
        width: 520px;
    }
}

@media only screen and (max-width: 1100px) {
    ul {
        width: 470px;
    }
}

@media only screen and (max-width: 900px) {
    ul {
        width: 350px;
    }
}

@media only screen and (max-width: 600px) {
    ul {
        width: 313px;
    }
}

@media only screen and (max-width: 420px) {
    ul {
        width: 330px;
    }
}