/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    background: #ffffff;
    font-size: 14px;
    font-family: Roboto-Regular, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #555555
}

.container {
    margin: 0 auto;
    width: 50%;
    border: 1px solid #f3f3f3;
    background-color: #f3f3f3;
    padding: 0;
    height: 100vh;
}

.header {
    background-color: #ffffff;
    box-shadow: 0 0 0.1px rgba(0, 0, 0, 0.1)
}

.header div.box1,
.header div.box2,
.header div.divider {
    display: inline-block;
    padding: 12px;
    vertical-align: middle;
    /* border: 1px solid */
}

.header div.box1 {
    width: 25%;
}

.header div.box1 img {
    width: 95px;
    height: 55px;
}

.header div.box2 {
    width: 60%;
    font-size: 12px;
    font-weight: bold;
    color: #666;
}

.header div.divider {
    width: 0px;
    border: 0.6px solid #c3c1c1;
    padding: 0;
    display: inline;
    height: 45px;
    position: absolute;
    top: 17px;
}

.card {
    padding: 15px;
    margin: 10px;
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
    border-radius: 4px;
}

.button button,
.button1 button {
    background-color: #4cc400;
    width: 100%;
    padding: 12px;
    border: 0;
    color: #fff;
    cursor: pointer;
}

.center {
    text-align: center
}

div.card-rate {
    padding: 15px;
    font-weight: bold;
    font-size: 15px;
}

div.card-rate::before {
    content: " ";
    width: 20px;
    position: relative;
    left: -5px;
    border: 1px solid #999999;
    display: inline-block;
    height: 0px;
    padding: 0;
    margin: 0;
    top: -3px;
}

div.card-rate::after {
    content: " ";
    width: 20px;
    position: relative;
    left: 5px;
    border: 1px solid #999999;
    display: inline-block;
    height: 0px;
    padding: 0;
    margin: 0;
    top: -3px;
}

.button {
    position: absolute;
    bottom: 3px;
    display: block;
    width: 50%;
}

button.star {
    margin: 0;
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    outline: 0;
    color: #d9d9d9
}

button.star i.active {
    color: #fac917
}

.feedback textarea {
    border: 0;
    border-bottom: 1px solid #999999;
    width: 100%;
    font-family: Roboto-Regular, Helvetica Neue, Helvetica, Arial, sans-serif;
    resize: vertical;
    outline: 0;
    padding: 0px 0px 10px 1px
}

.top20 {
    margin-top: 20px;
}

.top10 {
    margin-top: 10px;
}

.top5 {
    margin-top: 5px;
}

.success-msg {
    font-size: 18px;
    color: #555;
}

.error {
    color: #ff0000;
}

.tab-container {
    border-bottom: 1px solid;
    /* width: 350px; */
    margin-left: -15px;
    /* padding-bottom: 10px; */
}

div.tab-container a {
    padding: 6px;
    text-decoration: none;
    margin-left: 20px;
    color: #333;
    display: inline-block;
}

div.tab-container a.active {
    border-bottom: 4px solid #666666;
}

div.tab-container-value.request-service {
    overflow: auto;
    height: 59vh;
    margin-top: 2px;
}

hr {
    margin-left: -15px;
    width: 350px;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 370px;
    }
    .button {
        width: 370px
    }
    .tab-container {
        width: 350px;
    }
}

.font11 {
    font-size: 11px;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1.6px solid #a9a9a9;
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 15px;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon,
.radio label input[type="radio"]+.cr>.cr-icon {
    /* transform: scale(3) rotateZ(-20deg); */
    opacity: 0;
    /* transition: all .3s ease-in; */
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon,
.radio label input[type="radio"]:checked+.cr>.cr-icon {
    /* transform: scale(1) rotateZ(0deg); */
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr,
.radio label input[type="radio"]:disabled+.cr {
    opacity: .5;
}

.checkbox label {
    cursor: pointer;
}

.checkbox {
    padding: 0px 0px 17px 0px;
}

.tab-container a {
    cursor: pointer;
}

.offer-image img {
    width: 100%;
}

.image-right,
.image-right-text {
    position: absolute;
    padding: 15px;
    height: 97px;
    width: 65px;
    z-index: 1001;
}

.image-right {
    background-color: #000000;
    opacity: 0.2;
}

.image-right-text {
    color: #fff;
    margin-top: 10px;
}

.image-right-text span {
    color: #e3d002;
    font-size: 35px;
}

.image-bottom {
    background: #2e2c29;
    position: relative;
    color: #fff;
    padding: 5px;
    width: 98.5%;
    top: -5px;
    text-align: center;
    font-size: 13px;
}

.font12 {
    font-size: 12px;
}

.font13 {
    font-size: 13px;
}

@media only screen and (max-width: 600px) {
    .offer-image img {
        height: 128px;
        width: 320px;
    }
    .image-bottom {
        width: 310px;
    }
}

select {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #999999;
    color: #666666;
}

.image-description {
    margin-top: 7px;
}