<div class="container" *ngIf="pageNotFound">
    <div class="card center">
        <i class="fas fa-exclamation-triangle" style="color: #ff0000;font-size: 36px;"></i>
        <p>404 - Page not found</p>
    </div>
</div>
<div class="container" *ngIf="!pageNotFound">

    <div class="header">
        <div class="box1 center">
            <img *ngIf="hotelData.Logo" [src]="hotelData.Logo">
            <i *ngIf="!hotelData.Logo" class="fas fa-hotel" style="font-size: 50px; color: #d9d9d9;"></i>


        </div>
        <div class="divider"></div>
        <div class="box2">{{hotelData.FullName}}</div>

    </div>
    <div class="card" *ngIf="isProcessing">
        <i class="fas fa-spinner fa-spin" style="font-size: 32px;text-align: center;display: block;"></i>

    </div>
    <div class="card" *ngIf="isCreateVisible">
        <div class="card-top center"><strong>Room# {{roomData.RoomNumber}},</strong> {{roomData.FloorName}} - {{roomData.RoomTypeName}}</div>
    </div>
    <div class="card" *ngIf="isCreateVisible" (swiperight)="loadTab('right')" (swipeleft)="loadTab('left')">
        <div class="tab-container">
            <a *ngFor="let m of tabs; let i=index" [class.active]="m.IsActive" (click)="viewTabDetail(m.tabKey,i)">{{m.tabName}}</a>
            <!-- <a href="#" class="active">Service Request</a>
            <a href="#">Feedback</a>
            <a href="#">Offers</a> -->
        </div>
        <div class="tab-container-value request-service" *ngIf="currentTab=='ServiceRequest'">
            <div *ngFor="let m of serviceList">
                <div class="card-rate center"> {{m.departmentName}} </div>
                <!-- <hr /> -->
                <div class="list">
                    <div class="checkbox" *ngFor="let rq of m.requests">
                        <label>
                            <input type="checkbox" [(ngModel)]="rq.IsChecked">
                            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                            {{rq.requestName}}
                        </label>
                    </div>


                </div>

            </div>
            <div class="button top20" style="margin-left: -25px;" *ngIf="isCreateVisible">
                <button (click)="saveServiceRequest()">Submit</button>
            </div>
        </div>
        <div class="tab-container-value" *ngIf="currentTab=='Feedback'">
            <div class="card-rate center"> Send us your Feedback </div>
            <div class="feedback top20">
                <select [(ngModel)]="selectedDepartment" (change)="departmentError=false;">
                    <option>Select Department</option>
                    <option *ngFor="let d of departmentList" [value]="d.DepartmentCode">{{d.DepartmentName}}</option>
                </select>
                <div class="error font12" *ngIf="departmentError">Department is required</div>
            </div>
            <div class="card-rate center"> Rating </div>
            <div class="center">
                <button class="star" *ngFor="let m of totalRating" (click)="updateRating(m)" (mouseover)="updateTempRating(m)" (mouseout)="updateActual()">
                  <i class="fas fa-star {{currentRating >= m  || tempRating >= m ? 'active':''}}"></i>
              </button>
                <div class="error" *ngIf="error && !isRated">Please Provide Rating</div>
            </div>

            <div class="feedback top20">
                <textarea rows="1" [(ngModel)]="feedback" placeholder="Enter Feedback" (keyup)="validateText()"></textarea>
                <div class="error font12" *ngIf="feedbackTextError">Minimum 2 Character is required</div>
            </div>
            <div class="button top20" style="margin-left: -25px;" *ngIf="isCreateVisible">
                <button (click)="saveFeedback()">Submit</button>
            </div>
        </div>
        <!-- Offers Start here -->
        <div class="tab-container-value" *ngIf="currentTab=='Offers'">
            <div *ngFor="let offer of offerList">
                <div class="card-rate center">{{offer.OfferName}}</div>
                <!-- <div class="image-right"></div> -->
                <!-- <div class="image-right-text">
                <span>35%</span> off on Spa</div> -->
                <div class="offer-image" *ngIf="!offer.FilePath">
                    <img src="http://productsdev.idsnext.com/feedback/assets/images/nopic.jpg">
                </div>
                <div class="offer-image" *ngIf="offer.FilePath">
                    <img [src]="offer.FilePath  ">
                </div>

                <!-- <div class="image-bottom">
                    Get Flat 35% off on all Spa treatments
                </div> -->
                <div class="image-description font13">
                    {{offer.OfferDescription}}
                </div>
            </div>
        </div>
        <!-- Offer ends here -->



    </div>
    <!-- <div class="button top20" *ngIf="isCreateVisible">
        <button (click)="saveRating()">Submit</button>
    </div> -->
    <div class="card center" *ngIf="!isCreateVisible">
        <div *ngIf="saveSuccess">
            <p>&nbsp;</p>

            <img src="./assets/images/success.png">

            <p class="success-msg">{{responseMessage}}</p>
            <p>&nbsp;</p>
        </div>
        <div *ngIf="!saveSuccess">
            <p>&nbsp;</p>

            <i class="fas fa-exclamation-triangle" style="color: #ff0000;font-size: 36px;"></i>

            <p class="success-msg">{{responseMessage}}</p>
            <p>&nbsp;</p>
        </div>

    </div>

</div>
<app-popupbox *ngIf="popupVisibility" (back)="backtoNextPage()" [message]="responseMessage"></app-popupbox>